<div *ngIf="isLoaded" class="full-height-div" style=" background-image: url(../../../assets/images/background.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div style="background-color: white;" class="mx-5">
        <h1 class="display-2 d-flex justify-content-center mb-4">Your measures</h1>
        <div class="d-flex justify-content-center mb-4">
            <a [routerLink]="['/main/menu']" class="btn btn-secondary w-20 d-flex justify-content-center mt-3" >Back to menu</a>
        </div>
        <div class="d-flex justify-content-center mb-5">
            <button type="button" class="btn  btn-success" (click)="add()">Add new measure</button>
        </div>
        <div *ngIf="isFormVisible">
            <h2 class="display-7 d-flex justify-content-center mt-5 mb-3 pt-3 pb-3">Wpisz pomiary</h2>
            <form [formGroup]="measureForm" >
                <div class="formGroup col-md-2 offset-md-5 d-flex justify-content-center">
                    <label class="col-md-5">Date</label>                    
                    <div class="input-group col-md-5">
                        <input formControlName="measureDate" class="form-control" placeholder="yyyy-mm-dd" aria-label="measure Date"
                        ngbDatepicker #measureDatePicker="ngbDatepicker"
                        [minDate]="{year: 2024, month: 1, day: 1}" [maxDate]="{year: 2200, month: 12, day: 31}"> 
                        <div>
                            <button class="btn btn-outline-secondary pi pi-calendar" (click)="measureDatePicker.toggle()" type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="formGroup col-md-2  offset-md-5 d-flex justify-content-center">
                    <label class="col-md-5">Weight</label>
                    <div class="input-group col-md-5">
                        <input formControlName="weight" type="number" step="0.01" class="form-control" aria-label="weight" 
                        [class.is-invalid]="formWeight.invalid && (formWeight.touched || formWeight.dirty)">
                        <div class="invalid-feedback">
                            <span *ngIf="formWeight?.errors?.['min']">Min value: 10</span>
                            <span *ngIf="formWeight?.errors?.['max']">Max value: 500</span>
                            <span *ngIf="formWeight?.errors?.['required']">Required</span>
                        </div>
                    </div>
                </div>
                <div class="formGroup col-md-2 offset-md-5 d-flex justify-content-center">
                    <label class="col-md-5">Waist</label>
                    <div class="input-group col-md-5">
                        <input formControlName="waist" type="number" class="form-control" aria-label="waist"
                        [class.is-invalid]="formWaist.invalid && (formWaist.touched || formWaist.dirty)">
                        <div class="invalid-feedback">
                            <span *ngIf="formWaist?.errors?.['min']">Min value: 10</span>
                            <span *ngIf="formWaist?.errors?.['max']">Max value: 500</span>
                            <span *ngIf="formWaist?.errors?.['required']">Required</span>
                        </div>
                    </div>                
                </div>
                <div class="formGroup col-md-2 offset-md-5 d-flex justify-content-center">
                    <label class="col-md-5">Hips</label>
                    <div class="input-group col-md-5">
                        <input formControlName="hips" type="number" class="form-control" aria-label="hips"
                        [class.is-invalid]="formHips.invalid && (formHips.touched || formHips.dirty)">
                        <div class="invalid-feedback">
                            <span *ngIf="formHips?.errors?.['min']">Min value: 10</span>
                            <span *ngIf="formHips?.errors?.['max']">Max value: 500</span>
                            <span *ngIf="formHips?.errors?.['required']">Required</span>
                        </div>
                    </div>
                </div>
                <div class="formGroup col-md-2 offset-md-5 d-flex justify-content-center">
                    <label class="col-md-5">Thigh</label>
                    <div class="input-group col-md-5">
                        <input formControlName="thigh" type="number" class="form-control" aria-label="thigh"
                        [class.is-invalid]="formThigh.invalid && (formThigh.touched || formThigh.dirty)">
                        <div class="invalid-feedback">
                            <span *ngIf="formThigh?.errors?.['min']">Min value: 10</span>
                            <span *ngIf="formThigh?.errors?.['max']">Max value: 500</span>
                            <span *ngIf="formThigh?.errors?.['required']">Required</span>
                        </div>
                    </div>  
                </div>
                <div class="formGroup col-md-2 offset-md-5 d-flex justify-content-center">
                    <label class="col-md-5">Arm</label>
                    <div class="input-group col-md-5">
                        <input formControlName="arm" type="number" class="form-control" aria-label="arm"
                        [class.is-invalid]="formArm.invalid && (formArm.touched || formArm.dirty)">
                        <div class="invalid-feedback">
                            <span *ngIf="formArm?.errors?.['min']">Min value: 10</span>
                            <span *ngIf="formArm?.errors?.['max']">Max value: 500</span>
                            <span *ngIf="formArm?.errors?.['required']">Required</span>
                        </div>
                    </div>   
                </div>
                <div class="formGroup col-md-2 offset-md-5 d-flex justify-content-center">
                    <label class="col-md-5">Chest</label>
                    <div class="input-group col-md-5">
                        <input formControlName="chest" type="number" class="form-control" aria-label="chest"
                        [class.is-invalid]="formChest.invalid && (formChest.touched || formChest.dirty)">
                        <div class="invalid-feedback">
                            <span *ngIf="formChest?.errors?.['min']">Min value: 10</span>
                            <span *ngIf="formChest?.errors?.['max']">Max value: 500</span>
                            <span *ngIf="formChest?.errors?.['required']">Required</span>
                        </div>
                    </div> 
                </div>
                <div>   
                    <div class="d-flex justify-content-center mb-4">
                        <button *ngIf="editableMode" type="button" class="btn  btn-success float-right mx-2" (click)="save()">Save</button>
                        <button *ngIf="!editableMode" type="button" class="btn  btn-success float-right mx-2" (click)="insert()">Insert</button>
                        <button type="button" class="btn  btn-success float-right" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </form> 
        </div>
        <h3 class="display-7 fw-bold d-flex justify-content-center mt-3 mb-3 pt-3 pb-3">Your history</h3>
        <div class="d-flex justify-content-center" mx-2>
            <div *ngIf="!operationResult?.isSuccess" class="text-danger">
                <span class="font-weight-bold">{{operationResult?.userMessage}}</span>
                <ul>
                    <li *ngFor="let error of operationResult?.errors">
                        {{error}}
                    </li>
                </ul>
            </div>
            <div *ngIf="operationResult?.isSuccess" class="text-success">
                <span class="font-weight-bold">{{operationResult?.userMessage}}</span>
            </div>
        </div>
        <div class="d-flex justify-content-center mx-5 px-5 mb-5">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Weight
                        </th>
                        <th>
                            Waist
                        </th>
                        <th>
                            Hips
                        </th>
                        <th>
                            Thigh
                        </th>
                        <th>
                            Arm
                        </th>
                        <th>
                            Chest
                        </th>
                        <th>
                           
                        </th>
                    </tr>
    
                </thead>
                <tr *ngFor="let item of measures">
                    <td>
                        {{item.measureDate | date:'yyyy-MM-dd'}}
                    </td>
                    <td>
                        {{item.weight}}
                    </td>
                    <td>
                        {{item.waist}}
                    </td>
                    <td>
                        {{item.hips}}
                    </td>
                    <td>
                        {{item.thigh}}
                    </td>
                    <td>
                        {{item.arm}}
                    </td>
                    <td>
                        {{item.chest}}
                    </td>
                    <td>
                        <button type="button" class="btn  btn-success float-right" (click)="edit(item)">Edit</button>
                        <button type="button" class="btn  btn-success float-right" (click)="delete(item.id)">Delete</button>
                    </td>
                </tr>
                <tr *ngIf="measures.length === 0">
                    <td colspan="8">No data</td>
                </tr>
            </table>
        </div>
    </div>    
</div>